@{
    ViewData["Title"] = "Home Page";
}

<div class="home-background text-center">
    <div>
        <h1>Welcome to Airdnd</h1>
        <p>Your destination for homes, experiences, and services.</p>
    </div>
</div>